<?xml version="1.0" encoding="GB18030"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        				   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        				   http://www.springframework.org/schema/aop
        				   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="duke" class="springido.Juggler">
		<constructor-arg value="15" />
	</bean>
	
	<bean id="sonnet29" class="springido.Sonnet29"/>
	
	<bean id="theStage" class="springido.Stage" factory-method="getInstance" />
	
	<bean id="auditorium" class="springido.Auditorium" init-method="turnOnLights" destroy-method="turnOffLights" />
	
	<bean id="poeticDuke" class="springido.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29"/>
	</bean>
      
</beans>