<?xml version="1.0" encoding="GB18030"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        				   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        				   http://www.springframework.org/schema/aop
        				   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        				   http://www.springframework.org/schema/context
        				   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        				   
    <context:annotation-config/>

	<bean id="duke" class="springido.Juggler">
		<constructor-arg value="15" />
	</bean>
	
	<bean id="sonnet29" class="springido.Sonnet29"/>
	
	<bean id="theStage" class="springido.Stage" factory-method="getInstance" />
	
	<bean id="auditorium" class="springido.Auditorium" init-method="turnOnLights" destroy-method="turnOffLights" />
	
	<bean id="poeticDuke" class="springido.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29"/>
	</bean>
      
    <bean id="kenny" class="springido.Instrumentalist">
    	<property name="song" value="Jingle Bells"/>
    	<property name="age" value="37"/>
    	
    	<!-- inner bean -->
    	<!-- 
    	<property name="instrument">
    		<bean class="springido.Saxophone"/> 
    	</property> -->
    	
    </bean> 
    
    <bean id="kenny2" class="springido.Instrumentalist" 
    	p:song = "Jingle Bells"
    	p:age = "37"
    	 />
    	 
    	 <!-- p:instrument-ref = "piano" -->
    
      <bean id="saxophone" class="springido.Saxophone"/> 
    
    <bean id="piano" class="springido.Piano"/>
    
    <bean id="audience" class="springido.Audience" />
    
    <aop:config>
    	<aop:aspect ref="audience">
    	
			<aop:pointcut expression="execution(* springido.Performer.perform(..))" id="performance"/>
    	
    		<aop:before pointcut-ref="performance" method="takeSeats" />
    		<aop:before pointcut-ref="performance" method="turnOffCellPhones" />
    		<aop:after-returning pointcut-ref="performance" method="applaud"/>
    		<aop:after-throwing pointcut-ref="performance" method="demandRefund" />
			
    	</aop:aspect>
    </aop:config>
    
    <aop:config>
    	<aop:aspect ref="audience">
    		<aop:pointcut expression="execution(* springido.Performer.perform(..))" id="performance2"/>
    		<aop:around pointcut-ref="performance2" method="watchPerformance" />
    	</aop:aspect>    	
    </aop:config>
    
    <bean id="magician" class="springido.Magician" />
    <bean id="volunteer" class="springido.Volunteer" />
    
    <aop:config>
    	<aop:aspect ref="magician">
    		<aop:pointcut expression="execution(* springido.Thinker.thinkOfSomething(String)) and args(thoughts)" id="thinking"/>    		
    		<aop:before pointcut-ref="thinking" method="interceptThoughts" arg-names="thoughts" />
    	</aop:aspect>
    </aop:config>
    
    <aop:config>
    	<aop:aspect ref="audience">
    		<aop:declare-parents types-matching="springido.Performer+" 
			implement-interface="springido.Contestant" 
			default-impl="springido.GraciousContestant"/> 
    	</aop:aspect>		   
    </aop:config>

</beans>